/* Flip effect helpers */
.rotate-y-180 {
  transform: rotateY(180deg);
}
.group:hover .group-hover\:rotate-y-180 {
  transform: rotateY(180deg);
}

.group:hover .group-hover\:rotate-y-0 {
  transform: rotateY(0deg);
}